

<form nz-form class="login">
    <nz-form-item>
        <nz-form-control>
          <nz-input-group [nzPrefix]="prefixUser">
            <input nz-input placeholder="Email id..." type="text" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group [nzPrefix]="prefixLock">
              <input nz-input placeholder="password..." type="password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
          <button nz-button nzType="primary">Login</button>
      </nz-form-item>
</form>

<!-- Crete new fully manage section -->
<section class="brand-scene">
  <div nz-row>
    <div nz-col nzSpan="24">
      <div class="brand-heading">
        <h1>Start creating new Fully Managed Project</h1>
      </div>
    </div>
  </div>

  <div nz-row nzGutter="24" class="ml mr">
    <div nz-col nzSpan="6">
      <div class="brand-card">
          <h4>BrandSense</h4>
          <p>Brand Health Monitoring</p>
          <i nz-icon nzType="star" nzTheme="outline"></i>
          <p>Efficiently and effectively measure how your brand is performing in the market and monitor campaigns without losing competitors.</p>
      </div>
    </div>

    <div nz-col nzSpan="6">
        <div class="brand-card">
            <h4>AdSense</h4>
            <p>Advertisement Pre-test</p>
            <i nz-icon nzType="star" nzTheme="outline"></i>
            <p>Optimize your communication by knowing strength and weaknesses of your creative execution and make it word harder for your brand.</p>
        </div>
    </div>

    <div nz-col nzSpan="6">
        <div class="brand-card">
            <h4>ConceptSense</h4>
            <p>Concept Test</p>
            <i nz-icon nzType="star" nzTheme="outline"></i>
            <p>Have new Ideas?  Test your concepts and take the most potential ones to the next stage of product development. </p>
        </div>
    </div>

    <div nz-col nzSpan="6">
        <div class="brand-card">
            <h4>ProductSense</h4>
            <p>Product Testing</p>
            <i nz-icon nzType="star" nzTheme="outline"></i>
            <p>Test your new product ideas and understand the improvement before bringing them into the market to ensure greater success.</p>
        </div>
    </div>

    <div nz-col nzSpan="6">
          <div class="brand-card">
              <h4>PackSense</h4>
              <p>Packaging Test</p>
              <i nz-icon nzType="star" nzTheme="outline"></i>
              <p>Does you pack design stands out on the shelf. Test your pack design appeal and improve it – as pack plays a big role at the “Moment of Truth”</p>
          </div>
    </div>
  
    <div nz-col nzSpan="6">
      <div class="brand-card">
          <h4>PriceSense</h4>
          <p>Advertisement Pre-test</p>
          <i nz-icon nzType="star" nzTheme="outline"></i>
          <p>Right pricing ensures profitability. Identify the Optimal Price which the consumers are willing to pay for your product.</p>
      </div>
    </div>
    <div nz-col nzSpan="6">
      <div class="brand-card customize-btn">
          <h4>Cant find what you want…</h4>
          <p>Check out our</p>
          <button nz-button nzType="primary" [nzSize]="size" nzShape="round">Customized Solution</button>
      </div>
    </div>
  </div>

  <div nz-row>
      <div nz-col nzSpan="24">
        <div class="get-started-btn">
            <button nz-button nzType="primary" [nzSize]="size" nzShape="round">Get Started <i nz-icon nzType="arrow-right" nzTheme="outline"></i></button>
        </div>
      </div>
    </div>
</section>
<!-- End Crete new fully manage section -->